<div class="container-card" id="loginForm">
    <form method="post" onsubmit="return logValidation()">
        <h2>Login</h2><br><br><br><br><br>
        <table>
            <tr>
                <th>Email</th>
                <td><input type="text" id="email"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" id="password"></td>
            </tr>
        </table><br><br>
        <div class="xx12">
            <div>
                <input type="checkbox" name="showpass" id="">
                <label for="showpass">Show Password</label>
            </div>
            <div>
                <input type="checkbox" name="rememberme" id="">
                <label for="rememberme">Remember me</label>
            </div>
        </div><br><br>
        <div class="btnArea">
            <input class="submitBtn" type="submit" name="login" value="Login">
        </div>
    </form>
</div>

<div class="container-card" id="joinForm">
    <form method="post" onsubmit="return regValidation()">
        <h2>Join</h2><br><br>
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Confirm Password</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td><input type="text"></td>
            </tr>
        </table><br><br>
        <div class="btnArea">
            <input class="submitBtn" type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>