.container-card {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;

    width: 50vh;
    height: 50vh;

    background-color: gray;
}

table {
    display: flex;
    justify-content: center;
}

th, td {
    text-align: left;
    padding: 5px;
}

.join, .login {
    display: block;
}

.join {
    display: none;
}

.xx12 {
    display: flex;
    justify-content: space-around;
}