@import 'root.css';

body {
  background-color: var(--arg_hf);
  font-family: "roboto";
  color: var(--arg_font);
}

main {
    min-height: 80vh;

    padding: 10px;

    display: grid;
    justify-content: center;
    background-color: var(--arg_body);

    color: var(--font);
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p {
  font-size: 20px;
  font-weight: medium;
}

ul, li {
  list-style: numeric;
  font-size: 18px;
}
