@import 'root.css';

body {
  background-color: var(--arg_hf);
  font-family: "roboto";
  color: var(--arg_font);
}

main {
    min-height: 80vh;

    display: flex;
    justify-content: center;
    background-color: var(--arg_body);
}

a {
    text-decoration: none;
    color: black;
}
