:root {
    --background: beige;
    --dark_background: #15202b;
    --font: #000123;
    --container: ;
    --button: indianred;

    --arg_hf: #74acdf;
    --arg_body: #ffff;
    --arg_font: #f6b40e;
}