header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

footer {
  text-align: right;
  font-size: 20px;
  font-weight: lighter;

  padding: 5px;
}

.header-btn {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  padding: 5px;
}

.btn-link {
    font-size: 16px;
    cursor: pointer;
}

.btn-link:hover {
    opacity: 0.3;
    transition: 500ms;
}

.btnArea {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.submitBtn {
    height: 50px;
    width: 100px;
    font-size: 15px;
    background-color: indianred;
    border-radius: 5px;
}

.submitBtn:hover {
  cursor: pointer;
}
